<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../Style/Style.css" />
  <title>Mega-sena</title>
</head>

<body>
  <header class="header">
    <h1>Mega-sena</h1>
    <img src="../img/logo.png" alt="Logo" id="logo" />
  </header>
  <main class="container">
    <h3>Informe as informaçoês abaixo para jogar:</h3>
    <form>
      <p>Digite a quantidade de numeros que deseja:</p>
      <input type="number" id="qnt" />
      <p>Digite a quantidade de jogos que deseja:</p>
      <input type="number" id="game" />
      <input type="button" value="Jogar" id="btn" />
      <div id="numeros"></div>
      <input type="button" value="Salvar" id="slv" />
    </form>
  </main>
  <script src="../Js/Script.js"></script>
</body>

</html>